<ng-container *ngIf="product">
  <div class="row">
    <div class="col-4">
      <img src="{{product.image.includes('http') ? product.image : 'https://localhost:5001/images/' + product.image}}"
           class="w-100 img-fluid" alt="{{product.name}}">
    </div>

    <div class="col-8">
      <h3 class="text-success">{{ product.name }}</h3>
      <p class="currency">{{ product.price | currency: 'VND' }}</p>
      <div class="d-flex align-items-center">
        <i class="fa fa-minus-circle"></i>
        <span class="fw-bold mx-2">{{ quantity }}</span>
        <i class="fa fa-plus-circle"></i>
        <button class="btn btn-lg btn-outline-success ms-4">Cập nhật giỏ hàng</button>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h4>Mô tả</h4>
          <p>{{ product.description }}</p>
          <button routerLink="/shop" class="btn btn-primary">Trở về cửa hàng</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
