<div class="mb-3 d-flex align-items-end justify-content-between">

  <div class="d-flex">
    <div class="d-flex align-items-center me-3">
      <app-filter-sort [listItems]="categories"
                       class="me-3"
                       [title]="'Lọc theo danh mục'"
                       [selectedItem]="productParams.categoryId"
                       (itemSelected)="onCategorySelected($event)"></app-filter-sort>

      <app-filter-sort [listItems]="sortOptions"
                       [title]="'Sắp xếp'"
                       [selectedItem]="productParams.sortSelected"
                       (itemSelected)="onSortSelected($event)"></app-filter-sort>
    </div>

    <div>
      <label>Tìm kiếm</label>
      <div class="d-flex justify-content-center align-items-center">
        <form #searchForm="ngForm" (ngSubmit)="onSearch()" class="position-relative">
          <i (click)="onSearch()"
             style="right: 5px"
             class="fa fa-search text-dark position-absolute top-50 translate-middle"></i>
          <input type="text"
                 name="search"
                 (keyup.escape)="onReset()"
                 [(ngModel)]="searchTerm"
                 class="form-control"
                 style="padding-right: 35px" placeholder="Tên linh kiện..">
        </form>
        <button class="btn btn-primary ms-3" (click)="onReset()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" routerLink="/admin/product/create">Thêm mới sản phẩm</button>
</div>

<table class="table">
  <thead class="table-primary">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Hình ảnh</th>
    <th style="width: 55%">Tên</th>
    <th style="width: 20%">Danh mục</th>
    <th style="width: 10%">Giá</th>
    <th style="width: 15%">Hành động</th>
  </tr>
  </thead>
  <tbody class="table-secondary">
  <tr *ngFor="let product of products; let index = index">
    <th scope="row">{{index + 1 + ((pagination.page - 1) * pagination.pageSize)}}</th>
    <td>
      <div class="img-wrapper rounded">
        <img src="{{product.image.includes('http') ? product.image : 'https://localhost:5001/images/' + product.image}}"
             class="img" alt="{{product.name}}">
      </div>
    </td>
    <td>{{product.name}}</td>
    <td>{{product.categoryName}}</td>
    <td>{{product.price}}</td>
    <td>
      <button class="btn btn-success me-2"><i class="fa fa-pencil"></i></button>
      <button (click)="openModal(confirmDelete, product.id, product.name)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<app-pager [pagination]="pagination" (pageChanged)="onPageChanged($event)"></app-pager>

<ng-template #confirmDelete>
  <div class="modal-body text-center">
    <p>Tên sản phẩm: <span class="text-success">{{currentDeleteName}}</span></p>
    <p class="fw-semibold">Xác nhận xóa sản phẩm?</p>
    <button type="button" class="btn btn-sm btn-danger me-2" style="width: 76px" (click)="confirm()" >Có</button>
    <button type="button" class="btn btn-sm btn-primary" style="width: 76px;" (click)="decline()" >Hủy</button>
  </div>
</ng-template>
